.title {
  font-size: 20px;
  cursor: pointer;
}

.title:before {
  content: '▶ ';
  font-size: 80%;
  color: green;
}

.title-open:before {
  content: '▼ ';
}

.list {
  display: block;
  margin: 0;
  list-style: none;
  padding-left: 20px;
  font-size: 16px;
}

.visually-hidden {
  display: none;
}